main {
  height: 100vh;
  background: url('./book4.jpg');
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('./book4.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

* {
  font-family: Optima, sans-serif;
}
