main {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 7fr;
  grid-template-areas:
    "nav"
    "container";
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap")
}

.the-app {
  font-family: "Karla"
}
