.Book_section {
  border: 3px solid black;
  background-color: lightgrey;
  height: 150px;
  width: 70%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
}

.Book_section p {
  width: 200px;
}

.Book_section h3 {
  width: 200px;
}

.Book_image {
  height: 150px;
}

.Book_image-favorite {
  position: absolute;
  top: 7px;
  right: 10px;
  height: 40px;
}

.Book_image-favorite:hover {
  transform: scale(1.2) perspective(100px);
  transition: all 0.5s ease;
}

h3 {
  text-align: center;
}

.Book_button {
  height: 35px;
  width: 120px;
  padding: 5px;
  font-size: 14px;
  background-color: #142431;
  color: white;
  font-weight: bold;
  opacity: 0.8;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.Book_p-favorites {
  position: absolute;
  top: 20px;
  right: 9px;
  font-size: 12px;
}
