.BookContainer_section {
  background: url('./book4.jpg');
  background-attachment: fixed;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
