nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: nav;
  padding: 0px 30px;
  height: 200px;
}

nav h1 {
  font-size: 2.2em;
  margin: 0;
  color: white;
}

.icon-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav input {
  width: 250px;
  background: none;
  border: 3px solid white;
  border-radius: 0;
  height: 32px;
  color: white;
  outline: none;
  font-family: "Karla"
}


select {
  background: none;
  border: 3px solid white;
  border-radius: none;
  height: 38px;
  font-size: 1em;
  color: white;
}


.select-container {
  position: relative;
  width: 200px;
}

.nav-button {
  width: 125px;
  border-radius: 4px;
  padding: 0;
  background: none;
  border: none;
  font-size: 1em;
  font-family: "Karla"
}

.search-container {
  display: flex;
  flex-direction: row;
}

.audio-search {
  padding: 0;
  margin: 0;
}

.audio-search::placeholder {
  color: white;
}

.select-container {

}

/* .select-selected {
  background-color: plum;
} */

.select-selected:after {
  position: absolute;
  content: '';
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
}


.icon {
  height: 50px;
}

img {
  height: 150px;
}

.Nav_login {
  display: flex;
  flex-direction: column;
  height: 19%;
}

h2 {
  border: 3px white solid;
  margin: 0;
  padding: 5px;
  color: aliceblue;
  font-size: 1.2em;
}

.p-logout {
  padding: 5px;
  font-weight: bold;
  display: none;
  height: 21px;
  text-align: center;
}

.NavLink_logout {
  margin-top: -5px;
  height: 37px;
  text-decoration: none;
}

.Nav_login:hover .p-logout {
  display: block;
  background-color: lightblue;
  margin-top: 10px;
}
